body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

button {
    background-color: #FF6A13; /* Orange */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #D65A10; /* Darker orange */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 8px;
    margin: 5px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    margin-left: 10px;
}

#exerciseGraph {
    margin-top: 20px;
}

#addProfileBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#addProfileBtn:hover {
    background-color: #45a049;
}
